.section2-1{
    padding: 114px 0 80px 0;
}
.sec2_1_box h1{
    font-size: 58px;
    color: #353A5A;
    font-family: Cambria;
}
.sec2_1_box h3{
    padding: 40px 0 25px;
    font-size: 22px;
    color: #353A5A;
}
.sec2_1_box p{
    color: #353A5A;
}