.sec5-bottom button{
    width: 230px;
    height: 56px;
    color: white;
    border: none;
    border-radius:  0 20px 0 20px;
    background: #10B582;
    margin-top: 50px;
}
.sec5-bottom{
    display: flex;
    justify-content: center;
}
.Section5 h2{
    font-size: 58px;
    text-align: center;
}
.Section5{
    font-family: "Calibri Light";
    padding: 120px 0;
    background: white;  
}
.sec5-box{
    display: flex;
    column-gap: 30px;

}
.sec5-box-1{
    width: 270px;
    height: 226px;
    border-radius: 10px;
    margin: 60px 0;
    box-shadow: 5px 5px 5px 5px rgba(101, 101, 101, 0.12);
}
.sec5-box-1 img{
    padding: 20px 20px 15px 20px;
}
.sec5-box-1 p{
    padding-left: 20px;
}